.form-container {
  text-align: left;
}
label {
  padding: 5px;
  color: gray;
  font-weight: bold;
}
input {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 0px;
  background-color: gray;
  color: white;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  background-color: gray;
  color: white;
}